[data-bs-theme="dark"] {
    --bs-primary: #FF935F;
    --bs-secondary: #2f4858;
    --bs-success: #22c55e;
    --bs-danger: #f87171;
    --bs-warning: #fbbf24;
    --bs-info: #38bdf8;
    --bs-border-color: #2a2a2a;

    --bs-body-bg: #121212;
    --bs-body-color: #f1f5f9;
    --bs-card-bg: #1a1a1a;
    --bs-card-color: #f8f9fa;
    --bs-heading-color: #ffffff;
}
